body {background-color: #f5f1da;}
.text {color: #808c6c; text-align: center; font-family:sans-serif; font-size:300%; background-color: #e3dfc8;}
.textoclaro {color: #587850; font-family:  inherit;; font-size: 200%; text-align: center;}
.parrafos {
  font-family:'Bona Nova', serif;
  background-color: #e3dfc8;
  color: black;
  font-size: 120%;
  margin: 2rem auto;
  width: 600px;
font-style: italic;}
.parrafos2 {
  background-color: #808c6c;
  font-family:inherit;
  color: black;
  font-size: 100%;
  margin: 2rem auto;
  width: 600px;
}
.img {  font-size: 79%;
  margin: 6rem auto;
  width: 300px;

}
